
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/*---Style for tag-link---*/
.tag-link {
    padding-left: 10px;
    color: #212529;
}

/*---style for cars---*/
.thumbnail img {
    width: 100%;
}

.nav-item {
    list-style: none;
}
